*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif
}
.navBar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
    
}
.logo{
    
    margin-right: 30px;
    text-transform: uppercase;
}
span{
    color: orangered;
}
a{
    text-decoration: none;
    color: rgb(49, 48, 48);
    font-weight: 600;
}

.navBar ul{
    list-style: none;
    align-items: center;
    
}
.navBar ul li{

    display: inline-block;
    
    margin-right: 20px;
    text-transform: uppercase;
}
header{
    background-image: url("images/developer.png");
    background-repeat: no-repeat;
    background-size:contain ;
   
    
}
.banner{
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   
   background-image: url("images/header_bg.png");
   background-repeat: no-repeat;
   background-size: 600px;
   background-position: bottom right;
  
    
}
.banner-content{
    max-width: 500px;
    padding-left: 150px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.banner-content profile-pic{
   width: 400px;
}
button{
    /* background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); */
    background-image: linear-gradient(to right, tomato, rgb(238, 156, 156));
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    margin: 10px 0;
    font-weight: 600;
}

.about{
    max-width:80% ;
    background-color: #f1d1d165;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    
}
.about h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;

}
.peragraph{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}
.info{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.data{
    margin-right: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.data p{
    color: coral;
}
.what-do{
    background-color: transparent;
}

.cart{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.cart-info{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #80808063;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cart-info p{
    text-align: justify;
}

.resume-area h1{
     text-align: center;

}

.resume-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 50px;
   



}
.Education-Experience{
    
    width: 40%;
    background-color: #eb939313;
    margin-right: 30px;
    padding: 20px;
}

.Education-Experience h1{
    text-align: left;
    margin-bottom: 15px;
    color: #413f3f;
}
.Education-Experience p{
    text-align: justify;
}
.Education-Experience h3, h4, p{
    margin-bottom: 10px;
    color: #413f3f;;
}
hr{
    margin: 10px 0;
}
.download-btn{
  margin: 0 auto;
}
.download-button{
   text-align: center;
}

.contact-info  {
        width: 40%;
        margin-right: 30px;
        padding: 20px;
        
}
.contact-info p{
    margin: 10px 0;
}
.form input{
    margin: 10px 0;
    font-size: 15px;
    padding: 5px;
    overflow: hidden;
    
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid black;
}
.information-area{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 30px ;
    background-color: rgba(250, 235, 215, 0.445);
}
#textarea{
    padding: 10px;
    border: 1px solid rgb(41, 41, 40);
    background: none;
    outline: none;
}
.footer-section{

    margin-bottom: 100px;
   
}